@import '../../style/sass/variables';

.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
  }
  
  .top-nav-row div{
    display: inline-block;
  }
  
  .brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
  }
  
  .inp-container input{
    display: inline-block;
    width: 75%;
    height: $ele-height;
  }
  
  .inp-container button{
    width: 10%;
    height: $ele-height;
    border: none;
    background-color: #dadada;
  }
  
  .dropdown{
    width: 15%;
  }
  
  .select-btn{
    height: $ele-height;
    border: none;
    background-color: #dadada;
    font-weight: 600;
  }
  
  .select-btn option{
    text-align: center;
  }
  
  .login-container{
    color: #ffffff;
    width: 15%;
    text-align: right;
    margin: 1.7em 0.2em 0 0;
  }
  
  .login-container i,h5{
    display: inline-block;
  }
  
  .login-container a{
    text-decoration: none;
    color: #ffffff;
  }
  
  .user-icon{
    margin-right: 0.2em;
    padding: 0.2em;
    font-size: $icon-font;
  }
  
  .cart-wishlist .list-icon{
    color: #ffffff;
    font-size: $icon-font;
    list-style-type: none;
    display: inline-block;
    margin-right: 0.5em;
  }
  
  .cart-wishlist{
    width: 7%;
    margin-top: 1.7em;
    margin-left: 1em;
  }

  .list-icon{

    .cart-item-count{
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: rgb(229, 255, 0);
      position: absolute;
      top: 2.2%;
      left: 95.4%;
      text-align: center;
      line-height: 90%;

      p{
        font-size: 0.6em;
        font-weight: 600;
        color: black;
      }
    }
  }